@mixin container {
    margin: {
        left: map-get($values, auto);
        right: map-get($values, auto);
    };
    padding: {
        left: $grid-gutter-width;
        right: $grid-gutter-width;
    };    
}