.border {
    border: 1px solid var(--light-gray);
}
@each $var in $arrow {
    .border-#{$var} {
        border-#{$var}: 1px solid var(--light-gray);
    }
}
@for $var from 0 to 6 {
    .border-#{$var} {
        @if $var == 0 {
            border: none !important;
        } @else {
            border-width: #{$var} + 'px' !important;
        }
    }
}