@each $name, $color in $theme-colors {
    .text-#{$name} {
        color: var(--#{$name}) !important;
    }
    .bg-#{$name} {
        background-color: var(--#{$name});
        color: var(--white);
        @if $name == 'white' {
            color: var(--gray);
        }
    }
    .link-#{$name} {
        color:  var(--#{$name}) !important;
        &:hover, &:focus {
            color: darken($color, 10%) !important;
            text-decoration: underline;
        }
        @if $name == 'white' {
            &:hover, &:focus {
                color: var(--darkcyan) !important;
            }
        }
    }
}