@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
*, *:before, *:after {
	margin: map-get($values, 0);
	padding: map-get($values, 0);
	box-sizing: border-box;
}
body {
	margin: map-get($values, 0);
	padding: map-get($values, 0);
	font-family: $font-family;
	background-color: var(--white);
	color: var(--secondary);
	height: 100vh;
}
a {
	color: var(--primary);
	text-decoration: none;
	transition: all 0.3s ease;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
p {
	line-height: 1.8;
	font-size: $font-size-base * 1.25;
	text-align: justify;
}
.section {
	padding-top: $size-base * 5;
	padding-bottom: $size-base * 5;
}
.content {
    padding-top: $size-base * 10;
    padding-bottom: $size-base * 5;
}
.article {
	color: var(--dark);
	p {
		padding-bottom: $size-base * 1.5;
	}	
	ul, ol {
		font-size: $size-base * 1.25;
		line-height: 1.8;
		padding-bottom: $size-base * 1.5;
		padding-left: $size-base * 1.5;
	}
}
.clearfix {
	&::after {
		display: block;
		clear: both;
		content: "";
	}
}
.float-none {
	float: none !important;
}
.hr {
	border-top: 1px solid var(--light-gray);
}